<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BaseDatosTP1.Properties.Settings.BDTP1ConnectionString"
            connectionString="Data Source=SEDE-TR-NTB-017;Initial Catalog=BDTP1;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>